.searchContainer {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px #0044cc;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  input:focus {
    outline: none;
  }
}
