@import '@/styles/variables.scss';

body {
  margin: 0;
}

h2 {
  color: $secondaryColor;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: unset;
}

.error {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  color: $secondaryColor;

  h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }
}
