@import "@/styles/variables.scss";

.header {
  font-family: var(--font-roboto);
  display: flex;
  justify-content: space-between;
  background-color: $primaryColor;
  color: $whiteColor;
  padding: 0 28px;

  .navigation {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
    gap: 20px;

    nav {
      ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        margin-right: 28px;
      }
    }
  }

  input {
    min-width: 300px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
  }

  > div {
    display: flex;
    align-items: center;
  }
}